.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 292px;
  margin: 0 auto;

  &__button {
    flex: 1 1 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 58px;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: $white;
    border: 1px solid rgba($color: $white, $alpha: 0);
    border-radius: 12px;
    background-color: #18202c;
    transition: transform ease-in-out 0.1s;
    will-change: transform;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1);
    }

    &_backspace {
      background-image: url(../assets/icons/backspace.svg);
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
