.screen-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
  padding: 0 30px;

  &__name {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
  }

  &__back {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    height: 24px;
    width: 24px;
    background: url(../assets/icons/back.svg) center no-repeat;
  }
}
